/* @import url(http://fonts.googleapis.com/css?family=Oswald:400,700); */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700); 

/* Global Styles */

html,
body {
  height: 100%;
  min-width: 1200px !important;
  font-family: "Droid Sans", sans-serif;
  font-weight: 400;
  color: #fff;
  background: #051826 url('../../images/bg1.jpg') center;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;    
}

.txt-blue { color: #0b8fc4; }
a {
	cursor: pointer;;
	cursor: hand;
	outline:none !important;	
}

.navbar {
	border-radius: 0px;
	max-height: 70px;
	height: 70px;
}

.navbar .nheader {
	width: 992px;
	padding-right: 0px;
}

.navbar-nav {
	margin-top: 5px;
}

.navbar-nav > li {
	border: 1px solid #fff;
	margin: 10px 10px;
	
}


.navbar-collapse { padding-right: 0px !important; }

.navbar-default {
	background-color: rgba(2,25,58, 0.7);
	color: #fff !important;
	border: 0px !important;
}
	
.navbar-default .navbar-nav > li > a {
color: #fff !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
}
	
.container {
	min-width: 992px !important;		
	width: 992px !important;
}


.navbar-nav > li > a {
	display: table-cell;
	vertical-align: middle;
	height: 30px;
	padding: 0px 7px !important;
}

.register .form-control:focus {
	border-color: #66afe9; 
	outline: 0;
	-webkit-box-shadow: none; 
	box-shadow: none; 
	color: #fff;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 5px 0;
  right: 1px;
  pointer-events: none;
}

/* align icon */
.left-addon .fa  { left:  0px;}


/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { /*padding-right: 30px;*/ }

.txt-notif { font-size: 80%; padding: 0 5px !important; }

span.lbl { padding: 0px; }

img.profileicon { height: 21px; width: 21px;  border: 0px; margin: 0px -2px; }

.navbar-collapse { width: 962px; }

.section { padding-top: 40px; padding-bottom: 20px;  }

footer { padding-top: 20	px; background: #fff !important;  color: #b6b6b6; }

footer h2 { color: #00aff0 !important; font-size: 100%; font-weight: bold; }


div.copyright {
	margin-top: 25px;
	padding: 8px inherit;
	padding-bottom: 0px;
	color: #fff;
	line-height: 30px;
	font-size: 12px;
	background-color: rgba(0,175,240,0.8) ;
}

.social .fa { font-size: 28px; 
	margin: 0 5px;
}

.social .fa:last-child { margin-right:0px !important;}

footer ul {	list-style: none; margin: 0; padding: 0; }
footer li { display: block; margin: 0; padding: 0; }
footer li a { display: block; padding: 5px 2px;  color: #b6b6b6; }

footer li a:hover, footer li a:active {  color: #b6b6b6; }



.mapps {
	text-align: right;
}


.pr_brief {
	width: 150px;
	margin: 0px;
}

.pr_brief .profile_name {
	background: url('../../images/bluebg.jpg') repeat-x;
	background-position: center left;
	background-color: #16476e;
	display: block;
	font-size: 12px;
	line-height: 40px;
	text-align: center;
}


.pr_brief .btn {
	margin-top: 10px;
	background: none;
	background-color: #103a5c;
	color: #fff;
	font-size: 12px;
	border-radius: 0px !important;
	border: 0;
	outline: 1px solid #ffffff !important;
}

.pr_brief .btn:hover, .pr_brief .btn:focus {
	background: #175a8d;
	background-position: center left;
	outline: 1px solid #ffffff !important;
}
	

.profile_desc .pdescr  { position: relative; margin-left: 170px; padding: 0 10px; min-height: 270px; height: 100%;  background-color: rgba(0,0,0,0.25); border: 0 !important;  overflow: hidden;}
.profile_desc h2 { margin: 0px auto;
padding: 12px 2px; border-bottom: 1px solid #46769b;
font-size: 18px;
}


.pdescr { background-color: rgba(0,0,0,0.25); } 
.profile_desc p {
	margin: 10px auto;
	font-size: 12px;
	line-height: 160%;
}

.comments {   background-color: rgba(0,0,0,0.25);  }
.comments .comment { margin-bottom: 0px; padding: 15px 0; }
.comments .odd {  background-color: rgba(0,0,0,0.5); }
.comments h2 {
	font-size: 14px;
	margin: 10px auto;
	color: #fff;
}
.comments textarea {
	background-color: transparent;
	width : 100%;	
	border: 1px solid #ffffff; 
	padding: 10px;
	outline: 0;
	font-size: 12px;
	resize: none;
	min-height: 80px;
}
.commentbox { padding-bottom: 20px; }
.comments  .btn {
	margin-top: 5px;
	margin-bottom: 10px;
	background: none;
	background-color: rgba(0,0,0,0.4);
	color: #fff;
	font-size: 12px;
	border-radius: 0px !important;
	border: 1px solid #ffffff;
	outline: 0;
}


.bigsize { width: 962px; }
.mediumsize { width: 100%; }

.videoUiWrapper { margin: 0px !important; background-color: rgba(0,0,0,.5); }

.jumbotron { background: none;
	text-align: center;
	margin-bottom: 0px;
	padding-bottom: 25px; 
}

.jumbotron h1 { font-size: 70px; }
.jumbotron .line1 { margin: 25px auto;  font-size: 24px; font-weight: bold; }
.jumbotron .line2 { margin: 25px auto;  }
.jumbotron .line-small { font-size: 14px; }
.bluetxt { color: #00aff0; }


.register {
	background-color: rgba(0,0,0,0.6);
	width: 480px;
	margin: 0 auto;
	padding: 20px 40px;
}
.register .form-control { margin: 10px auto; }

.register .txt-sm { font-size: 12px;  line-height: 30px;}
.register .btnrow { padding-top: 10px; }
.register .form-control  {
	border: 1px solid #fff;
	border-radius: 0px;
	background: transparent;
	padding: 10px;
}

.btn-green {
	color: #fff;
	background-color: #8dc03b;
 	border: 0px;
 	border-radius: 0px;
 	width: 100px; height: 31px;
 	font-size: 12px;
}



.register .form-control::-webkit-input-placeholder { color: #fff !important; }
.register .form-control:-moz-placeholder { /* Firefox 18- */ color: #fff;  }
.register .form-control:-moz-placeholder {  /* Firefox 19+ */  color: #fff; }
.register .form-control:-ms-input-placeholder {  color: #fff; }


.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }



.col1, .col2, .col3 { text-align: center; padding: 20px 20px; }


.col1 span, .col2 span, .col3 span {
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin: 10px auto;
}


.col1 p, .col2 p, .col3 p {
	text-align: center;
	font-size: 12px;
}

img.mscroll { margin: 20px auto; }

.benefits { margin-top: 30px; }


.searchtxt {
	background: transparent;
	border: 0 none;
	color: #ffffff;
	width: 10px;
	height: 25px !important;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	border-radius: 0px;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
	outline: none;
}

.searchtxt:focus {
	color: #fff;
	width: 200px;
	text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	outline: none;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	-webkit-box-shadow: none;
	box-shadow: none;
}


#searchform {
	margin: 0;
	height: 30px;
	display: table-cell;
	vertical-align: middle;
	width: 20px;
	padding-right: 10px;
}

.newsletter {
	background-image: url("../../images/newsletter-bg.jpg");
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 3px solid #00aff0;
	border-bottom: 1px solid #00aff0;	
}

.nlform {
	width: 600px;
	position: relative;
	height: 290px;
	margin: 0 auto;
	padding: 8px 15px;
	padding-left: 90px;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 15px 2px rgba(255, 255, 190, .17);
	-moz-box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, .17);
	box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, .17);
}

.nlform h3 {
	color: #00aff0;
	font-size: 24px;	
}

.nlform p { color: #b3afaf;
	font-size: 14px;
	margin: 30px 0px;
}

.nlform .form-control {
	border-color: #d9d9d9;	
	padding: 15px !important;
}

.nlform button {
	margin-top: 25px;
	padding: 10px 20px;
	font-size: 18px;
	}
.envdiamond {
	position: absolute;
	left: -77px;
	top: 15px;
}

.diamond {
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-bottom-color: red;
	position: relative;
	top: -50px;
}
.diamond:after {
	content: '';
	position: absolute;
	left: -50px;
	top: 50px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-top-color: red;
}

.inputlist { 
	margin-right: 30px;	
}

h1 span, h2 span, h3 span {
	color: #0b8fc4;	
}

.adazzler { margin-bottom: 75px; }
.adazzler h3 {	margin-bottom: 35px; }

.user-list-1 { background: #ffffff; color: #000000; }
.user-list-1 img { display: block;}

.user-list-1 .uname { font-size: 20px; font-weight: 400; color: #000000; padding: 3px 0px; }
.user-list-1 .ulocation { font-size: 14px; font-weight: 400; color: #b0b0b0; padding: 3px 0px; }
.user-list-1 .udetails { padding: 10px 0px; padding-bottom: 30px;}
.user-list-1 .udetails * { padding-left: 20px; padding-right: 20px; }
.user-list-1 .userimg { width: 100%; padding: 0px !important; }
.user-list-1 .udetails .ubrief { font-size: 13px; margin: 10px 20px;  padding: 15px 0px; border-top: 1px solid #ebebeb; border-bottom: 1px solid #ebebeb;  min-height: 110px; }
.user-list-1 .udetails span { display: block; }
.user-list-1  .row { margin: 0px 0px; !important; }
.user-list-1 .udazzle  { width: 47%; float: left;  border: 1px solid #ebebeb; }
.user-list-1 .ufollow { width: 47%; float: right; border: 1px solid #ebebeb; }
.user-list-1 .udazzle img, .user-list-1 .ufollow img { margin: 15px auto; } 
.user-list-1 .udazzle span,  .user-list-1 .ufollow span { font-size: 12px; margin: 5px 0px; paddding-bottom: 15px; }
.user-list-1  a { display: block; padding: 5px; border-top: 1px solid #ebebeb; color: #000000;   }




.contentlist { background-color: #ffffff !important; padding-bottom: 30px;}
.contentlist h3 { margin: 30px auto; font-size: 30px; text-align: center;  color: #0b8fc4; }
.cont-list-1 { margin: 25px; float:left; outline: 1px solid #ebebeb;  }
.cont-list-1 .captions { padding: 10px; }
.cont-list-1 .captions span.ctitle { line-height: 20px; font-size: 16px; font-weight: 400; color: #000000; padding: 3px 0px;}
.cont-list-1 .captions span.cartist { font-size: 14px; font-weight: 400; color: #b0b0b0; padding: 3px 0px;  }
.cont-list-1 .ico-1 { width: 38px; height: 38px; border: 1px solid #cccccc; float: left; margin-right: 8px; }
.cont-list-1 .contentico { width: 280px; height: 200px; }




.sec-profile { margin-bottom: 30px; }
.sec-profile .profile-left { width: 300px; height: 100%; float: left; margin-right: 10px; }
.sec-profile .p-details { background-color: rgba(0,0,0,.5); padding: 25px 20px; padding-right: 15px; padding-bottom: 5px; }
.p-details h3 { font-size: 28px; color: #ffffff; margin: 0px; }
.p-details .p-prof { display: block; margin: 15px 0; font-size: 18px; color: #00aff0; }
.p-details .p-loc { display: block;  font-size: 16px; }
.p-details .p-loc .fa { margin-right: 10px; }
.p-details p { margin: 10px 0px; font-size: 13px; color: #00aff0; }
.profile-left .btn { width: 37%; margin: 10px 0px; border: 0px !important; outline: 1px solid #ffffff !important; color: #ffffff !important; border-radius: 0px; background-color: transparent !important; margin-right: 10px;}
.profile-left .btn-half { width: 19%; margin-left: 0px; margin-right: 0px; }
.profile-left .btn:focus { outline-offset: 0px; }
.profile-left .fa-1x { font-size: 1.2em; }


.profile-right { float: right; width: 682px; }



.content-list-2  .topbar {
	padding: 10px;
	background-color: rgba(0,0,0,.25);
	line-height: 20px;	
}
.content-list-2 .navigation {  }
.content-list-2  .topbar .fa { margin: 0 8px; font-size: 1.3em; }

.imglist { padding-left: 2px; }
.imglist img { float: left; margin: 11px 0px; margin-right: 22px; }
.imglist img.no-rmargin { margin-right: 0px !important; }

.imglist1 { padding-left: 2px; }
.imglist1 img { float: left; margin: 11px 0px; margin-right: 16px; }
.imglist1 img.no-rmargin { margin-right: 0px !important; }



.imglist2 { padding-left: 2px; }
.imglist2 img { float: left; margin: 11px 0px; margin-right: 40px; }
.imglist2 img.no-rmargin { margin-right: 0px !important; }

.imglist3 { padding-left: 2px; }
.imglist3 img { margin: 11px auto; }


.comment-user-name { color: #038bbf; line-height: 35px; vertical-align: baseline; }
.comment-timestamp { color: #777c82; line-height: 35px; font-size: 12px; }
.comment-comment { margin: 0px 0 !important; }
.comment-ppic { border: 1px solid #ffffff; }

.btn-default  { padding: 10px 0px;
border: 1px solid #44525c !important;
margin: 20px auto !important;
}


.aboutus h1 {
	font-size: 50px; 
	line-height: 60px;
	margin-top: 0;
	margin-bottom: 30px;	
}
	
.aboutus .line2 { font-size: 30px; }
.aboutus .line1 { font-size: 25px; font-weight: 400 !important; }
.aboutus .jumbotron { background: url("../../images/aboutus1.png") no-repeat 0px 10px; }
	
.aboutus .div-for-right {
	padding: 10px 0;
	padding-left: 300px;	
	background: url("../../images/aboutus_fans.png") no-repeat;
	background-position: left center;
	min-height: 160px;
	margin: 50px 0;
}

.aboutus .about-company {
	background: url("../../images/aboutus_company.png") no-repeat;
}

.aboutus .div-for-left {
	padding: 10px 0;
	padding-right: 300px;	
	background: url("../../images/aboutus_artist.png") no-repeat;
	background-position: right center;
	min-height: 160px;
	margin: 50px 0;
}

.aboutus .div-for-left h2 { text-align: right; }



.pdescr { padding: 5px 20px; margin-top: 20px; }



.profile_desc .pdescr  { position: relative; margin-left: 170px; padding: 0 10px; min-height: 270px; height: 100%;  background-color: rgba(0,0,0,0.25); border: 0 !important;  overflow: hidden;}
.profile_desc h2 { margin: 0px auto;
padding: 12px 2px; border-bottom: 1px solid #46769b;
font-size: 18px;
}


.pdescr { background-color: rgba(0,0,0,0.25); } 
.pdescr p {
	margin: 10px auto;
	font-size: 14px;
	line-height: 160%;
}

.profile_desc  .pstats {
	font-size: 50px;
	margin-top: 20px;
	bottom: 10px;
	left: 20px;
	position: absolute;
	width: 100%;
}

.pstats .fa-2x { font-size: 1.5em !important;  margin-top: 5px !important;}
.vfeed { margin-top: 20px; margin-bottom: 20px;}  

.pstats { margin-top: 20px; margin-bottom: 20px; }

.notifications { margin-bottom: 30px; }
.notifications span.title { font-size: 16px; margin: 10px 0px; }
.uline { border-bottom: #0b8fc4; padding: 3px 0px; }

.notif-list { list-style: none; padding-left: 0px; }
.notif-list li {  display: block; background: rgba(0,0,0,.25); margin: 10px 0; padding: 3px 0px; }
.notif-list .fa { margin: 10px; }
.notif-time { float: right; margin: 7px 15px; }



.faqs { }
.faqtitle { 
padding: 2px 0px;
padding-left: 140px; background: url("../../images/faq_q.png") no-repeat 15px 10px;
height: 120px;
margin: 30px 0;
}

.faqtitle h2 { font-size: 24px; color: #0b8fc4;  padding: 0; }
.faqtitle p { font-size: 16px; color: #ffffff;  }
.faq-section .topbar {	padding: 10px 20px;	background-color: rgba(0,0,0,.25); 	line-height: 20px;  }
.faq-section .solution { padding: 10px 20px; }
.faq-list { list-style: none; padding-left: 0px; font-size: 14px; }
.faq-list .question { color: #0b8fc4; }
.faq-list .answer { color: #ffffff; }
.faq-list li {  display: block;   margin: 0 0 25px 0px; }
.faq-section p { line-height: 175%; }




.csupport { }
.supporttitle { 
padding: 2px 0px;
padding-left: 140px; background: url("../../images/support.png") no-repeat 15px 10px;
height: 120px;
margin: 30px 0;
}
.supporttitle h2 { font-size: 24px; color: #0b8fc4;  padding: 0; }
.supporttitle p { font-size: 16px; color: #ffffff;  }
.support-section { margin: 20px 0px; }
.support-section .topbar {	padding: 10px 20px;	background-color: rgba(0,0,0,.25); 	line-height: 20px;  }
.support-section .solution { padding: 10px 20px; }
.solutionform { margin-top: 20px; padding: 5px 20px; }
.solutionform .control-label   { font-weight: 400; }
.squared { border: 1px solid #fff;  border-radius: 0px; -webkit-border-radius: 0px; background: transparent;  }
.squared:focus {border: 1px solid #fff; -webkit-box-shadow: none !important; box-shadow: none !important; } 

.btn-squared { padding: 5px 30px; border: 1px solid #fff;  border-radius: 0px; -webkit-border-radius: 0px; background: transparent;  }
.btn-squared:focus {border: 1px solid #fff; -webkit-box-shadow: none !important; box-shadow: none !important; } 

.left { text-align: left !important; }
.right { text-align: right !important; }
.center { text-align: center !important; }



.bcard { padding: 15px 20px; line-height: 160%; }
.bcard span { display: block; font-size: 14px;   color: #0b8fc4; }
.bcard a { font-size: 18px; color: #ffffff; }




.account .jumbotron h1 { font-size: 250px; font-weight: 400; }
.account .jumbotron .line1 { margin: 25px auto;  font-size: 24px; font-weight: 400; }
.account .jumbotron .line2 { margin: 25px auto;  }
.account .jumbotron .line-small { font-size: 14px; }
.account h3 { font-size: 24px; color: #0b8fc4;  text-align: center; margin: 25px auto; }
.account h3 a { color: #ffffff;  }

.account .benefits h3 { font-size: 30px; font-weight: 400; }
.account .benefits .bluetxt { font-size: 16px; font-weight: 400; text-transform: uppercase; }

.account .benefits img { margin: 20px auto }
.account .benefits .txt-sm { font-size: 14px; }

.account .accountstype { margin-top: 30px; margin-bottom: 30px; }
.acnttype { padding: 0px 20px; }
.acnttype h3 { font-size: 24px; font-weight: 700; }
.acnttype ul { list-style: none; padding-left: 0px; margin-top: 20px; margin-bottom:30px; }
.acnttype li { margin: 0px 0px 20px 0px; font-size: 16px; font-weight: 400; }
.acnttype li .fa { color: #0b8fc4; font-size: 0.9em; margin: 0 8px;  }
.doublelist li { width: 50%; float: left; margin: 0px 0px 20px 0px; }
.doublelist ul { display: table; margin-bottom: 10px; }


.accountstype .acc-descr { font-size: 24px; text-align: center; color: #0b8fc4; }



.sociallogin { }
.sociallogin a {  color: #fff;   font-size: 15px;  text-decoration: none; display: block; background-color: rgba(0,0,0,0.5); margin: 20px 0; padding: 20px; }
.sociallogin a:hover { color: #2b457a; } 
.sociallogin a  span {  font-size: 22px; vertical-align: top; padding-left: 20px; border-left: 1px solid #ffffff; line-height: 30px; }
.sociallogin a:hover  span { border-left: 1px solid #2b457a; }
.sociallogin .fa { margin: 0 10px; width: 40px; }


.loginform { padding: 20px }
.loginform label { display: none; }
.loginform .form-control {
	padding: 33px 15px;
	font-size: 18px;
	margin: 3px 0;	
	color: #ffffff;
}

.loginform .btn {
	padding: 20px;
	font-size: 20px;
	width: 100%;
	height: 70px;
}



.new2daz { }
.new2daz .titlerow { line-height: 35px; font-size: 18px;  margin-bottom: 10px; text-align: center !important; }
.new2daz .title { font-size: 28px; }


 
 .hlink {
 	cursor: pointer;
 	cursor: hand;
 }
 
 .profile_desc .pdescr { margin-top: 0; }
 
 
 
 
 /*** Style DropDown **/
 
 .dropdown-menu {
 	border-radius:0;
 	-webkit-border-radius:0;
 	right: -2px !important;
 	top: 150%;
 	border: 1px solid rgba(255,255,255,0.9);
 	background-color:  rgba(2,25,58, 0.9);

}

.dropdown-menu li a { color: #ffffff;  padding: 5px 10px;}
.dropdown-menu li a:hover { background-color: rgba(255,255,255,0.5); color:#ffffff; }

.ddnotif { width: 350px; font-size: 12px; }
.ddnotif li { padding: 0 !important; margin: 0 !important; }



/**** Upload Form Modal  ******/

.uploadmodal { }

.uploadmodal .modal-content { border-radius: 0px !important;  background-color: rgba(0,0,0,.75); }
.uploadmodal .modal-header { border-bottom: 2px solid rgba(0,0,0,0.5); }
.uploadmodal .modal-title { font-size: 16px; }
.uploadmodal .modal-footer { border-top: 0px; }
.uploadmodal .form-group { padding: 10px auto; }
.uploadmodal .form-control { 
	border: 1px solid #ffffff;
	border-radius: 0px;
	background-color: transparent;;
}
.uploadmodal .btn-primary { background-color: transparent;
 color: #ffffff;
 border-radius: 0px;
 border: 1px solid #ffffff;
}

.uploadmodal .modal-footer { margin-top: 0px !important; padding-top: 0px !important; }



.nav .fa-angle-down { margin-left: 4px; padding: 4px 0px;  }



/**** Like/Dislike links ****/


a.dz-like, a.dz-dislike  { font-size: 14px !important; color: #fff; line-height: 20px; vertical-align: middle; }
a.dz-like:hover, a.dz-dislike:hover  { opacity: 0.6; }
a.dz-like:active, a.dz-dislike:active { color: #00aff0; }
a.dz-like .fa, a.dz-dislike .fa { margin-right: 10px; }






.settingsmodal { }


.settingsmodal .modal-dialog { min-width: 700px;  margin-top: 100px; }

.settingsmodal  .modal-content { background-color: transparent;
box-shadow: none;
border: 0px;
border-radius: 0;
font-size: 14px;
}

.settingsmodal .modal-body { padding: 0px; margin: 0; }
.settingsmodal .modal-content { overflow: hidden; }
.settingsmodal .modal-content h4 { margin: 0px 0px; font-size: 16px; line-height: 20px;  }

.settingsmodal .modal-header {  margin-bottom: 3px;  background-color: rgba(7,43,77,0.9); border-bottom: 2px solid transparent; }

.settingsmodal .nav > li > a:hover, .settingsmodal .nav > li > a:focus {
	background-color: transparent;
	color: #028dc5;
}

.settingsmodal .nav > li > a {
	color: #ffffff;
}

.settingsmodal .lside { background-color: rgba(7,43,77,0.9);  }
.settingsmodal .lside, .settingsmodal .rside {   
	min-height: 300px;
}


.settingsmodal .nav > li.active > a {
	color: #028dc5;
	font-weight: 700;
}

.settingsmodal .tab-content { 
	margin-left: -12px;min-height: 300px; padding: 5px;
	background-color: rgba(7,43,77,0.9);  border: 0px solid #fff; }

.modal-backdrop.in { opacity: .3; }
.settingsmodal form { padding-top: 40px; }
.settingsmodal label { padding: 8px 0px; }
.settingsmodal .form-control { width: 94%; }
.settingsmodal .btn { margin-right: 35px; }



/***********************************/



.listForm { }

.listForm .modal-dialog { min-width: 920px;  margin-top: 50px; }

.listForm  .modal-content { background-color: transparent;
box-shadow: none;
border: 0px;
border-radius: 0;
font-size: 14px;
}

.listForm .modal-body { padding: 0px; margin: 0; }
.listForm .modal-content { overflow: hidden; }
.listForm .modal-content h4 {  background-color: rgba(7,43,77,0.9); padding: 10px; margin: 0px 0px; font-size: 14px; line-height: 20px;  }

.listForm .modal-header {  padding: 0px; margin-bottom: 3px;   border-bottom: 2px solid transparent; }

.listForm .nav > li > a:hover, .listForm .nav > li > a:focus {
	background-color: transparent;
	color: #028dc5;
}

.listForm .nav > li > a {
	color: #ffffff;
}

.listForm .close { display: block; opacity: 1;  outline: 0px; }

.listForm .lside { background-color: rgba(7,43,77,0.9);  }
.listForm .lside, .listForm .rside {   
	min-height: 300px;
}


.listForm .nav > li.active > a {
	color: #028dc5;
	font-weight: 700;
}

.listForm .tab-content { 
	margin-left: -12px;min-height: 300px; padding: 5px;
	background-color: rgba(7,43,77,0.9);  border: 0px solid #fff; }

.modal-backdrop.in { opacity: .8; }
.listForm form { padding-top: 40px; }
.listForm label { padding: 8px 0px; }
.listForm .form-control { width: 94%; }
.listForm .btn { margin-right: 35px; }
.listings { margin-top: 35px; margin-bottom: 35px; }
.listings .listing { width: 270px; height: 180px;  border: 1px solid #ffffff; }
.listings .col-md-4 { padding: 0px; }

.listings .listing { margin: 8px 5px; }
.listings .lright { margin: 8px 10px; margin-right: 0; }
.listings .lleft { margin: 8px 10px; margin-left: 0; }

.arrow_box {
	background: #000000;
	border: 1px solid #ffffff;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 85%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: #000000;
	border-width: 11px;
	margin-left: -11px;
}
.arrow_box:before {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 12px;
	margin-left: -12px;
}



	
.gdialog .modal-content {
	background-color: transparent;
}
.gdialog .modal-content .modal-header, .gdialog .modal-content .modal-body, .gdialog .modal-content .modal-footer {
 	background-color: rgba(6,40,70,0.75) !important;
}

.sq { 
	background-color: rgba(0,0,0,0) !important;
	border: 1px solid #ffffff;
	border-radius: 0px !important;	
}

.sq .fa { padding: 0px; margin: 0px; margin-right: 25px; }
.sq-icon { 	background: url("../../images/vline.jpg") no-repeat 35px; }

.gdialog .modal-content .modal-header, .gdialog .modal-content .modal-footer {
	margin-bottom: 2px;
	margin-top: 2px;
 	border: 0px;
}

.i-dazzle, .i-shoutout {
	font-size: 20px;
	padding: 8px 0px;
}
.fade { background-color: rgba(28,132,196,0.7); }
.i-dazzle {	background: url("../../images/icodazzle.png") no-repeat right center; }
.i-shoutout {	background: url("../../images/icoshoutout.png") no-repeat right center; }
.text-big { font-size: 20px; margin: 30px auto; }
#socialshare .sq { margin: 10px 20px; height: 38px; }
#followwho .gdialog { width: 730px; }
#followwho .sq { margin-right: 15px; margin-left: 15px; }

#followwho .fdiv { width: 150px; overflow:hidden; margin: 10px auto; }
#followwho .fdiv  span { width: 100%; line-height: 40px; display: block; height: 40px; background-color: #062846; color: #fff; text-align: center; font-size: 12px; font-weight: 700;  }


#advsearch .gdialog { width: 730px; }
#advsearch h2 { font-weight: 400; font-size: 24px; }

#advsearch .row { margin-bottom: 30px; }
#advsearch label { line-height: 30px; font-size: 18px; font-weight: 400; }
#advsearch .cfc { border: 0px; padding: 2px; color: #fff; background-color: transparent; border-bottom: 1px solid #fff; border-radius: 0px; }
#advsearch .cfc:focus { outline: 0; -webkit-box-shadow: none; box-shadow: none; }
#advsearch .suggestion { list-style: none; padding: 0px; margin: 5px 0px;	 }
#advsearch .lblradio { font-size: 13px; line-height: 10px; vertical-align: middle; margin-right: 20px; }
#advsearch .lblradio input { margin-right: 5px;  }
#advsearch .suggestion li { float: left; padding: 0px; margin: 0px 13px 0px 0px;	font-size: 13px; color: rgba(255,255,255,.25); }



#restricted .gdialog { width: 730px;  color: #00aff0; }
#restricted h2 { font-weight: 400; font-size: 30px; margin: 30px auto;  }
#restricted span { font-weight: 400; font-size: 16px; margin: 30px auto;  display: block; }
#restricted p { font-weight: 400; font-size: 16px; color: #ffffff; margin: 30px auto; }
#restricted img { margin: 15px auto; }
#restricted .cfc { height: 45px; border: 0px; padding: 2px; text-align: center; color: #fff; background-color: transparent; border-bottom: 1px solid #fff; border-radius: 0px; font-size: 30px; }
#restricted .cfc:focus { outline: 0; -webkit-box-shadow: none; box-shadow: none; }
#restricted .cfc:-webkit-input-placeholder, #restricted .cfc:-moz-placeholder , #restricted .cfc::-moz-placeholder, #restricted .cfc:-ms-input-placeholder {  color: #ffffff; }

#restricted .btn { background-color: #000000 !important; }

.profile-left .row { margin: 0px; padding: 0px 2px; }
.p-space { background-color: rgba(24, 80, 122, 0.4); padding: 15px; margin: 15px 0px; }
.p-space h2 { font-size: 16px; font-weight: 400; color: #ffffff; margin: 0; margin-bottom: 20px !important; }
.p-space h2 span { float: right; color: #000000; font-weight: 700; }


.p-space .sbar { font-size: 14px;  margin: 20px 0px; }
.p-space .sbar .sbar-wrap { margin: 3px 0; overflow: hidden; width: 220px; height: 10px; border: 1px solid #fff; }
.p-space .sbar .sptext { float: right; font-size: 11px;  }
.p-space .shaded { background-color: #8aa1b4; height: 10px; }

p.invite { font-size: 13px; }

.p-details .website, .p-details .email { margin: 15px 0; border-top: 1px solid #244864; padding: 5px 0px;  }
.p-details .website span, .p-details .email span { display: block; margin: 5px 0px; }
.p-details p { margin: 15px 0px; }



.imglist5 { padding-left: 2px; }
.imglist5 .imgdiv { float: left; margin: 11px 0px; margin-right: 25px; }
.imglist5 img.no-rmargin { margin-right: 0px !important; }
.imglist5 .no-rmargin { margin-right: 0px !important; }

.imglist5 .imgdiv span { display: block; line-height: 40px; font-size: 18px; }
.imglist5 .imgdiv .btn { display: block; width: 100%; margin: 15px 0; }

.vfeed .shoutout  { height: 195px; background-color: rgba(0,0,0,0.25);  margin: 0px; padding: 45px 0px; }
.vfeed .shoutout .sodetls { width: 80%; margin: 0 auto; font-size: 26px; }
.vfeed .shoutout .sodetls img { margin-right: 25px }



.inbox h3 { font-size: 18px; color: #ffffff; font-weight: 700; }
.inbox h3 span { font-size: 18px; color: #ffffff; font-weight: 700; }
.inbox h3 span .fa { border: 1px solid #ffffff; padding: 1px 3px; font-size: 14px; }